.Pagination{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;

    .pagPrevNext{
        cursor: pointer;
        text-decoration: none;
    }

    .Pagination_Num{
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        justify-content: center;

        .pagNum{
            cursor: pointer;
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: transparent;
        }
    }
}